@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", serif;

}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg); 
  font-size: 1rem;
  margin-right: 6px;

}

.maxW {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2%;
}

.AboutBG{
  background-image: url('../public/AboutBG.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ProjectsBG{
  background-image: url('../public/17580.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.BG1 {
  position: relative; /* Necessário para posicionar o pseudo-elemento corretamente */
  background-image: url('/slider/1.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.BG1::before {
  content: ''; /* Necessário para criar o pseudo-elemento */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Cor preta com 50% de transparência */
  z-index: 1; /* Coloca a camada acima do fundo */
}

.BG1 > * {
  position: relative; /* Garante que o conteúdo do BG1 fique acima da camada preta */
  z-index: 2;
}

/* SLIDERS */
.slider1{
  background-image: url('/slider/1.jpg');
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.slider2{
  background-image: url('/slider/2.jpg');
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.slider3{
  background-image: url('/slider/3.jpg');
  background-position: center;
  background-size: cover;
  height: 80vh;
}


input::placeholder {
 color: white;
}



